@import '../../../__scss/root.css';

.m {
  font-size: 2rem;
  transition: var(--trans-time);
}

.mRight {
  text-align: right;
  background: var(--navbar-gradient-background);
  padding: 5px;
  margin: 0 5px 5px 25px;
  border-radius: 5px;
  transition: var(--trans-time);
}

.mLeft {
  text-align: left;
  background: var(--main-gradient-background);
  padding: 5px;
  margin: 0 25px 5px 5px;
  border-radius: 5px;
  transition: var(--trans-time);
}

.mRight:hover,
.mLeft:hover {
  transition: var(--trans-time);
  background: none;
  background-color: rgba(131, 95, 95, 1);
}