@import '../scss/root.scss';

.footer_content_img_puppy_img {
  width: inherit;
  height: inherit;
}

.footer_content {
  width: 80%;
  height: 65%;
}

@media (min-width: 1280px) {

  .footer_wrapper {
    width: 100%;
    height: 15%;
    background: var(--footer-gradient-background);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .footer_content {
    display: flex;
    justify-content: space-between;
  }

  .footer_content_item {
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
  }

  .contact {
    width: 28rem;
  }

  .we_are {
    width: 30.2rem;
  }

  .footer_content_item_heading {
    color: var(--color-light-xl);
  }

  .footer_content_item_link {
    display: flex;
    color: var(--color-primary);
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
  }

  .footer_content_item_img_wrapper {
    margin-right: 2rem;
    height: 3.2rem;
  }

  .footer_content_item_text {
    color: var(--color-primary);
  }

  .footer_content_img_puppy_wrapper {
    width: 30rem;
    height: 31rem;
  }

}

@media (max-width: 1279px) and (min-width: 768px) {

  .footer_wrapper {
    width: 100%;
    height: 40%;
    background: var(--footer-gradient-background);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .footer_content {
    display: grid;
    grid-template-rows: 23.4rem 31rem;
    grid-template-columns: 49% 50%;
    grid-row-gap: 7.5rem;
    align-self: center;
    justify-items: center;
  }

  .footer_content_item {
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
  }

  .contact {
    width: 28rem;
  }

  .we_are {
    width: 30.2rem;
  }

  .footer_content_item_heading {
    color: var(--color-light-xl);
  }

  .footer_content_item_link {
    display: flex;
    color: var(--color-primary);
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
  }

  .footer_content_item_img_wrapper {
    margin-right: 2rem;
    height: 3.2rem;
  }

  .footer_content_item_text {
    color: var(--color-primary);
  }

  .footer_content_img_puppy_wrapper {
    width: 30rem;
    grid-column: 1 / 4;
    height: 31.5rem;
  }

}

@media (max-width: 767px) and (min-width: 320px) {

  .footer_wrapper {
    width: 100%;
    height: 70%;
    background: var(--footer-gradient-background);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer_content_item {
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact {
    width: 28rem;
    height: 20.8rem;
  }

  .we_are {
    width: 30rem;
    height: 22.2rem;
  }

  .footer_content_item_heading {
    width: 29rem;
    color: var(--color-light-xl);
  }

  .footer_content_item h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  .footer_content_item_link {
    display: flex;
    color: var(--color-primary);
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .we_are:last-child {
    justify-content: flex-start;
  }

  .footer_content_item_img_wrapper {
    margin-right: 2rem;
    height: 3.2rem;
  }

  .footer_content_item_text {
    font-size: 2rem;
    color: var(--color-primary);
  }

  .footer_content_img_puppy_wrapper {
    width: 26rem;
    height: 26.9rem;
  }

}