@import '../../__scss/root.css';

.item {
  transition: .5s;
  padding-left: 12%;
}

.item:hover {
  transition: .5s;
  transform: scale(1.2) rotate(3deg);
  background-color: rgba(0, 0, 0, 0.2);
}

.item__link {
  color: inherit;
  font-size: 24px;
}

.logo {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
  }
}

.bestFriend {
  width: 70px;
  height: 70px;
  color: var(--color-dark-3xl);
  font-size: 2rem;
}