@import '../../__scss/root.css';

.d {
  transition: .5s;
  padding-left: 12%;
  font-size: 2rem;
  background: var(--section-gradient-background);
}

.mRight {
  text-align: right;
}

.mLeft {
  text-align: left;
}