@import './components/__scss/root.css';

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.w {
  display: grid;
  height: 100%;
  grid-template-rows: 60px 7fr 1fr;
  grid-template-columns: 320px 1fr;
  grid-template-areas: 
    "header header"
    "navbar main"
    "footer footer";
}
